# The REPOS array contains paths to one or more git-svn bridge repositories

REPOS=("/home/git-svn-bridge/git/git-svn-bridge-trunk")

# Multiple repos example:
#
# TRUNK_REPO_PATH=/change/this
# MAINTENANCE_BRANCH_REPO_PATH=/change/this/too
# REPOS=("$TRUNK_REPO_PATH" "$MAINTENANCE_BRANCH_REPO_PATH")
